htdocs
.idea
.vscode
nbproject
nginx_log
pglog
*.log
log.txt
!.gitignore
\.devilbox/
\.DS_Store
.vagrant
_phpDoc
vagrant
/docker-compose.yml
docker/.env
phpunit.xml
psalm.xml
.projections.json
makefile
/docker/db/tmp
!/docker/db/tmp/light_db.dump